<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EJS Template</title>
    </head>
    
    <body>
        <h1>Welcome ! <%= UserIdInfo %> </h1>

        <p>반갑습니다.</p>
    </body>
</html>