<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongo Template</title>
    </head>
    
    <body>
        <h1>Welcome ! <%= name %>  (<%= email %>)</h1>

        <p>당신의 ID 는  <%= id %>  입니다.</p>
    </body>
</html>