<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongo Template</title>
    </head>
    
    <body>
        <h1>Welcome ! <%= name %> </h1>

        <p>당신은  <%= id %>  번째 가입자 입니다.</p>
    </body>
</html>